ul{
	list-style: none;
	background: white;
	padding: 20px 40px;
	border-radius: 5px;

	li{
		height: 20px;
		margin: 20px 5px;
		background: #cdcdcd;
		text-align: left;
		padding: 20px;
		border-radius: 5px;
	}
}